#section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFB6C1;
    height: 100vh;
    width: 100vw;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #FFB6C1;
}
.contact_title{
    color: #0c0c27;
    font-family: Roboto;
    letter-spacing: 4px;
    font-weight: 100;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 60px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0c0c27;
    height: 60%;
    width: 60%;
    transition: box-shadow 0.3s, transform 0.3s;
}
.form:hover{
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.637);
    transform: scale(1.06);
}
.name_and_email{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}
.name_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    height: 3rem;
}
.email_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    height: 3rem;
}
.input{
    padding-left: 3px;
    border: none;
    outline: none;
    background: #070718;
    height: 1.5rem;
    width: 100%;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1rem;
    border: #FFB6C1 1px solid;
    color: white;
}
.validate{
    color: red;
    font-family: Roboto;
    font-size: 0.8rem;
    margin-top: 6px;
    letter-spacing: 2px;
}
.textarea_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 40%;
    width: 70%;
    margin-top: 20px;
}
.textarea{
    background: #070718;
    border: #FFB6C1 1px solid;
    outline: none;
    resize: none;
    width: 98%;
    height: 80%;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 4px;
}
.submit_button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #070718;
    border: 2px solid #FFB6C1;
    color: white;
    height: 2rem;
    width: 5rem;
    border-radius: 0.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: 4px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.submit_button:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.705);
}
.textarea:focus{
    color: white;
}
.input:focus{
    color: white;
}
.input::placeholder{
    color: rgb(129, 129, 129);
}
.textarea::placeholder{
    color: rgb(129, 129, 129);
}