#section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFB6C1;
    height: 100vh;
    width: 100vw;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #FFB6C1;

}
.stack_title{
    color: #0c0c27;
    font-family: Roboto;
    letter-spacing: 4px;
    font-weight: 100;
    font-size: 3rem;
    margin-top: 10px;
}
.tech_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #0c0c27;
    height: 70%;
    width: 60%;
    animation-name: tech-container;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
@keyframes tech-container {
    from{
        filter: opacity(0);
    }
    to{
        filter: opacity(1);
    }
}

.tech_box{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    justify-items: flex-start;
    height: 85%;
    width: 85%;
}
.icon_arrow{
    position: absolute;
    top: 90%;
    right: 50%;
    color: #0c0c27;
    height: 2rem;
    width: 2rem;
    animation-name: arrow;
    animation-duration: 0.6s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
@keyframes arrow {
    from{
        top: 89%;
    }
    to{
        top: 90%;
    }
}
.br{
    width: 800px;
    height: 15vh;
}
.each_tech_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 9rem;
    width: 8rem;
    margin: 10px 0;
    transition: transform 0.3s;
}
.each_tech_div:hover{
    transform: scale(1.1);
}
.link{
    text-decoration: none;
    height: fit-content;
    width: fit-content;
}
.each_tech_span{
    color: #fdfdfd;
    font-family: Poppins;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 1rem;
    text-align: center;
    height: 20%;
    width: 100%;
}
.top_tech_div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}
.html_icon{
    color: #FC490B;
    height: 4rem;
    width: 4rem;
}
.css3_icon{
    color: #2196F3;
    height: 4rem;
    width: 4rem;
}
.js_icon{
    color: #F7DF1E;
    height: 3rem;
    width: 3rem;
}
.react_icon{
    color: #61DBFB;
    height: 4rem;
    width: 4rem;
}
.redux_icon{
    color: #6942A5;
    height: 4rem;
    width: 4rem;
}
.node_icon{
    color: #84CE24;
    height: 4rem;
    width: 4rem;
}
.express_icon{
    color: white;
    height: 4rem;
    width: 4rem;
}
.postgres_icon{
    color: #2F6792;
    height: 4rem;
    width: 4rem;
}
.sequelize_icon{
    color: #1D7ABE;
    width: 4rem;
    height: 4rem;
}
.git_icon{
    color: rgb(243,78,36);
    width: 4rem;
    height: 4rem;
}
@media(min-width: 1600px){
    .each_tech_div{
       height: 12rem;
       width: 11rem;
    }
    .tech_box{
        align-items: center;
        justify-content: center;
        height: 85%;
    }
    .top_tech_div{
        transform: scale(1.5);
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .each_tech_span{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 600px) {
    #section{
        overflow-y: initial;
        width: 100vw;
    }
    .fp-overflow{
        overflow-y: initial;
    }
    .tech_container{
        width: 90%;
    }
    .tech_box{
        width: 100%;
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
        height: 100%;
    }
    .each_tech_div{
        width: 5rem;
        transform: scale(0.7);
        margin: 0;
    }
    .icon_arrow{
        transform: scale(2);
        right: 48%;
    }
}
